.selected-key {
    width: 50px;
    font-size: 2rem;
    font-weight: 900;
    background-color: rgb(56, 56, 56);
    color: whitesmoke;
    box-shadow: 2px 1px 3px 0#027981, 2px 1px 3px 2px#03727a;;
    
}
.key-passed,
.key-failed {
   
    color: #fff;
}
.key-passed {
    background-color: #18141420;
    box-shadow: 2px 1px 3px 0#027981, 2px 1px 3px 2px#03727a;;
    color: #078e97;
}

.key-failed {
    box-shadow: 2px 1px 3px 0 #e3342f, 2px 1px 3px 2px #e3342f;
    background-color:  #18141420;
    color: #ef5753;
}

