.summary {
    padding: 0.25rem 0;
    flex-direction: column;
    background-color: rgb(56, 56, 56);
    color:white;
    margin-left: 20px;
    box-shadow: 2px 1px 3px 5px#027981, 0px 1px 3px 2px#03727a;;
}

.summary .keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 56, 56);
    padding: 20px;
    color:white
}
.summary .key {
    color: #fff
}
.summary .header {
    background-color: #027981;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;

    display: flex;
}
.summary .currentChar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100px;
    height: 100px;

    border-radius: 50%;

    padding: 60px;
}

.currentChar h6 {
    text-align: center;
    font-weight: 900;
    font-size: 5em;
    padding: 0;
    margin: 0;
    color: #fff;
}

.summary .highlights {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
}
.summary .highlights svg {
    height: 2.5rem;
    width: 2.5rem;
}

.summary .control {
    background-color:rgb(88, 88, 88);
    color:whitesmoke
}


